/*
█ █▀▄▀█ █▀█ █▀█ █▀█ ▀█▀ █▀
█ █░▀░█ █▀▀ █▄█ █▀▄ ░█░ ▄█
*/

@font-face {
  font-family: "Sora_SemiBold";
  src: url(/assets/fonts/Sora-SemiBold.ttf);
}

@font-face {
  font-family: "Prototype";
  src: url(/assets/fonts/Prototype.ttf);
}

/* 
█░█ ▄▀█ █▀█ █ ▄▀█ █▄▄ █░░ █▀▀ █▀
▀▄▀ █▀█ █▀▄ █ █▀█ █▄█ █▄▄ ██▄ ▄█
*/

$warning_color: rgba(241, 199, 18, 1);
$button_color_blue: rgba(1, 219, 248, 1);
$button_hover_purple: rgba(163, 70, 249, 1);
$pink_color: rgba(250, 66, 253, 1);
$background_color: rgba(10, 11, 51, 1);
$main_font_sora: "Sora_SemiBold";
$sub_heading_font: "Prototype";

/*
█▀▄▀█ █ ▀▄▀ █ █▄░█ █▀
█░▀░█ █ █░█ █ █░▀█ ▄█
*/
@mixin main_button_style {
  // On Hover
  &:hover {
    background-color: $button_hover_purple;
    box-shadow: 0px 0px 20px 10px #fa42fd;
    color: white;
    img {
      filter: invert(1);
    }
  }
  // Size
  width: 80%;

  // Layout
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1em;

  // Color
  background-color: $button_color_blue;
  border-radius: 50px;
  margin: 0.8em 0;

  // Font
  font-size: clamp(0.8em, 0.5vh, 1em);
  font-family: $sub_heading_font;
  h2 {
    margin: 0.3em;
    letter-spacing: 0.05em;
  }
  img {
    height: 3em;
  }
}

@mixin main_menu_container {
  // Size
  max-width: 320px;
  height: 90vh;
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  // Layout
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw;
  //Color
  background-color: $background_color;
  box-shadow: inset 0px 0px 33px -4px #fa42fd;
}

@mixin main_menu_container_nested {
  border-right: solid 13px $button_hover_purple;
  border-style: double;
  flex-grow: 0;
  flex-shrink: 0;
}

@mixin body_section {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: solid 13px $button_hover_purple;
  border-style: double;
  background-color: $background_color;
  border-radius: 2em;
}

@mixin grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: repeat(auto-fill, minmax(150px, auto));
}

@mixin grid_content {
  max-height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
