@use "./_globalStyles.scss" as global;


body {
  margin: 0;
}
nav {
  @include global.mobile_heading;
}




.body_section{
    @include global.body_section;
    border: unset;
    border-radius: unset;
}

.outer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.camera_container {
  @include global.camera_container;
  flex-wrap: wrap;
 overflow: scroll;
 height: 90vh;
 align-items: center;
.camera_image{
    border-bottom: double 10px global.$button_color_blue;
}
  .camera_card {
    flex: 1;
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    border: double 10px global.$button_color_blue;
    width:320px;
    height: fit-content;
    margin-bottom: 1em;
    &:nth-child(2){
        margin-left: 1em;
    }
    &:nth-child(3){
        margin-left: 1em;
    }
    &:nth-child(4){
        margin-left: 1em;
    }
    
.control_buttons{
    @include global.control_buttons;
}  
}

}

.mobile_footer {
  @include global.footer_styling;
  
}


// █▀▄ █▀▀ █▀ █▄▀ ▀█▀ █▀█ █▀█   █▀▄▀█ █▀▀ █▄░█ █░█
// █▄▀ ██▄ ▄█ █░█ ░█░ █▄█ █▀▀   █░▀░█ ██▄ █░▀█ █▄█ 

.button_main {
    @include global.main_button_style;
  }
  .menu_container {
    @include global.main_menu_container;
    flex: 1;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .menu_container::-webkit-scrollbar {
    display: none;
  }


.hidden_on_mobile{
    display: none;
}



// █▀▄▀█ █▀▀ █▀▄ █ ▄▀█
// █░▀░█ ██▄ █▄▀ █ █▀█


@media(min-width: 690px){
    .hidden_on_mobile{
        display:flex;
    }
.hidden_on_desktop{
    display: none;
}

.camera_button{
    background-color: lightslategrey;
    &:hover{
        background-color: lightslategray;
        box-shadow: unset;
    color: unset;
    img {
      filter: unset;
    }
    }
}

.body_section{
    border: double 13px global.$button_hover_purple;
    border-radius: 2em;
    justify-content: space-between;
}
}

@media (max-width: 654px){
    // Hide Cards On Mobile
    .camera_card.hidden_mobile{
        display: none;
    }
}
